			<div class="row">
				<h3>检索</h3>

				<p>
					文本框处输入下面的内容	
				</p>

				<pre>
老马
				</pre>

				<p>
					你将能检索到像这样的成语
				</p>

				<pre>
老马识途
老马嘶风
老马为驹
识涂老马
识途老马
				</pre>
			</div>

			<div class="row">
				<h3>更精确的检索，使用 _ 符号</h3>

				<p>
					将汉字和 _ 组合起来使用能让你更准确的找到匹配的成语	
				</p>

				<p>
					文本框处输入下面的内容	
				</p>

				<pre>
山高_
				</pre>

				<p>
					你将能检索到像这样的成语
				</p>

				<pre>
东山高卧
山高皇帝远
山高水长
山高水低					
				</pre>
			</div>

			<div class="row">
				<h3>我会正则表达式</h3>
				<p>
					如果你输入的内容以<code>/</code>开始和结束，上面的功能会被覆盖，例如：
				</p>

				<pre>
/^春[^x00-xff]{3}/
				</pre>

				<p>
					将检索出所有以<code>春</code>字开头后接三个字的成语
				</p>
			</div>

		</div>
  	</div>
  </body>
</html>